body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease;
}

h1 {
    margin-bottom: 10px;
}

.buttons button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
}

/* DARK */
.dark {
    background-color: #121212;
    color: white;
}

/* SUNSET */
.sunset {
    background: linear-gradient(to right, #ff512f, #f09819);
    color: white;
}

/* OCEAN */
.ocean {
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    color: white;
}

/* PASTEL */
.pastel {
    background-color: #ffd6e8;
    color: #333;
}